<svg viewBox="0 0 1 {1/settings.aspectRatio}" preserveAspectRatio="none" class="chart">
  {#each Object.values(settings.fields) as field}
    {#if field.enabled}
      <path d="{ getPathCommands(chart, field.property, settings.aspectRatio) }" stroke={field.color} />
    {/if}
  {/each}
</svg>

<style>
  path {
    fill: none;
    stroke-width: 0.002;
  }
</style>

<script>
  export default {
    data() {
      return {
        settings: {},
        getPathCommands(chart, property, aspectRatio) {
          if (chart.length == 0 || chart[0] == undefined) return '';
          if (chart.hasOwnProperty('data')) chart = chart.data; // For range=dynamic

          var time;
          if (chart[0].hasOwnProperty('minute')) {
            var time = chart.map(x => x.minute.split(':')[0]*60+x.minute.split(':')[1]*1);
          } else if (chart[0].hasOwnProperty('date')) {
            var time = chart.map(x => Date.parse(x.date));
          } else {
            return '';
          }
          var values = chart.map(data => data[property]);

          if (time.length == 0 || values.length == 0) return '';

          let minTime = Math.min.apply(Math, time);
          let spanTime = Math.max.apply(Math, time) - minTime;
          let filteredValues = values.filter(x => x > 0)
          let minValues = Math.min.apply(Math, filteredValues);
          let spanValues = Math.max.apply(Math, filteredValues) - minValues;

          if (spanTime == 0 || spanValues == 0) return '';

          time = time.map(x => (x-minTime)/spanTime);
          values = values.map(x => (x-minValues)/spanValues/aspectRatio);

          var command = '';
          for (var i = 0; i < time.length; i++) {
            if (values[i] > 0) {
              let prefix = command.length == 0 ? 'M ' : 'L '
              command += prefix + time[i]+' '+values[i];
            }
          }
          return command;
        }
      };
    }
  };
</script>
