{#if symbols.length > 0}
  <div class="settings">
    <div>
      <label for="quoteRange">Quote Range</label>
      <select id="quoteRange" bind:value=quoteRange on:change="refreshQuotes()">
        <option value="1d">1d</option>
        <option value="1m">1m</option>
        <option value="3m">3m</option>
        <option value="6m">6m</option>
        <option value="ytd">ytd</option>
        <option value="1y">1y</option>
        <option value="2y">2y</option>
        <option value="5y">5y</option>
        <option value="dynamic">dynamic</option>
        <!-- <option value="date">date</option> -->
      </select>
    </div>
    <!-- <div>
      <label for="closeColor">Close Color</label>
      <input type="text" id="closeColor" bind:value=chartSettings.closeColor />
    </div>
    </div> -->
    {#each Object.values(chartSettings.fields) as field}
      <div>
        <input type="checkbox" id={field.property} bind:checked=field.enabled />
        <label for={field.property} style="color: {field.color};">{field.property}</label>
      </div>
    {/each}
  </div>

  {#if quotes}
    {#each Object.values(quotes) as data}
      <div class="item">
        <Quote quote={data.quote} {isRefreshing} />
        <Chart chart={data.chart} bind:settings=chartSettings {isRefreshing} />
      </div>
    {/each}
  {:else}
    <div class="loading">Loading...</div>
  {/if}
  <button on:click='refreshQuotes()'>Refresh</button>
{:else}
  <div class="error">
    No symbols to display
  </div>
{/if}


<style>
  .item, .settings {
    background: #efefef;
    border: 1px solid #ccc;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
  }

  input, label {
    display: inline;
  }
</style>


<script>
	import fetchQuotes from '../utils/fetchQuotes.js';

	export default {
    oncreate() {
      const { symbols, quoteRange } = this.get();
      fetchQuotes(symbols, quoteRange, this, null);
    },
    methods: {
      setQuoteStateLoading() {
          let { quotes } = this.get();

          let resetQuotes = Object.values(quotes).map(data => {
            if (!data.hasOwnProperty('quote') || !data.hasOwnProperty('chart')) return data;
            for (var property in data.quote) {
              if (data.quote.hasOwnProperty(property)) {
                data.quote[property] = undefined
              }
            }
            for (var property in data.chart) {
              if (data.chart.hasOwnProperty(property)) {
                data.chart[property] = undefined
              }
            }
            return data;
          });

          this.set({ quotes: resetQuotes, isRefreshing: true });
      },
      refreshQuotes() {
        this.setQuoteStateLoading();
        const { symbols, quoteRange } = this.get();

        function fetchQuotesCallback(component) {
          component.set({ isRefreshing: false });
        }

        fetchQuotes(symbols, quoteRange, this, fetchQuotesCallback);
      }
    },
    data() {
      return {
        symbols: [],
        quoteRange: '1d',
        isRefreshing: false,
        chartSettings: {
          aspectRatio: 8.0/1.0,
          fields: [
            {
              property: 'close',
              enabled: true,
              color: '#07d'
            },
            {
              property: 'volume',
              enabled: false,
              color: '#3d0'
            },
            {
              property: 'change',
              enabled: false,
              color: '#03d'
            },
            {
              property: 'high',
              enabled: true,
              color: '#70d'
            },
            {
              property: 'low',
              enabled: true,
              color: '#d70'
            },
            {
              property: 'marketHigh',
              enabled: true,
              color: '#d07'
            },
            {
              property: 'marketLow',
              enabled: true,
              color: '#7d0'
            },
            {
              property: 'marketAverage',
              enabled: true,
              color: '#d00'
            },
            {
              property: 'notional',
              enabled: false,
              color: '#0dd'
            },
            {
              property: 'average',
              enabled: false,
              color: '#333'
            },
            {
              property: 'numberOfTrades',
              enabled: false,
              color: '#d0d'
            }
          ]
        },
        quotes: undefined
      };
    },
		components: {
      Quote: './Quote.html',
      Chart: './Chart.html'
		}
	};
</script>
