{#if symbols.length > 0}
  <div class="settings">
    <div>
      <label for="quoteRange">Quote Range</label>
      <select id="quoteRange" bind:value=quoteRange on:change="refreshQuotes()">
        <option value="1d">1d</option>
        <option value="1m">1m</option>
        <option value="3m">3m</option>
        <option value="6m">6m</option>
        <option value="ytd">ytd</option>
        <option value="1y">1y</option>
        <option value="2y">2y</option>
        <option value="5y">5y</option>
        <option value="dynamic">dynamic</option>
        <!-- <option value="date">date</option> -->
      </select>
    </div>
    {#each Object.values(chartSettings.fields) as field}
      <div>
        <input type="checkbox" id={field.property} bind:checked=field.enabled />
        <label for={field.property} style="color: {field.color};">{field.property}</label>
        <input type="text" id={field.color} bind:value=field.color />
      </div>
    {/each}
  </div>

  {#if quotes}
    {#each Object.values(quotes) as data}
      <div class="item">
        <Quote quote={data.quote} {isRefreshing} />
        <Chart chart={data.chart} bind:settings=chartSettings {isRefreshing} />
      </div>
    {/each}
  {:else}
    <div class="loading">Loading...</div>
  {/if}
  <button on:click='refreshQuotes()'>Refresh</button>
{:else}
  <div class="error"> No symbols to display </div>
{/if}


<style>
  .item, .settings {
    background: #efefef;
    border: 1px solid #ccc;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
  }

  input, label {
    display: inline;
  }
</style>


<script>
  import fetchQuotes from '../utils/fetchQuotes.js';
	import chartSettings from '../utils/chartSettings.js';

	export default {
    oncreate() {
      const { symbols, quoteRange } = this.get();
      fetchQuotes(symbols, quoteRange, this, null);
    },
    methods: {
      setQuoteStateLoading() {
          let { quotes } = this.get();

          let resetQuotes = Object.values(quotes).map(data => {
            if (!data.hasOwnProperty('quote') || !data.hasOwnProperty('chart')) return data;
            
            var chart = data.chart;
            var quote = data.quote;
            if (chart.hasOwnProperty('data')) chart = chart.data; // For range=dynamic

            for (var property in quote) {
              if (quote.hasOwnProperty(property)) {
                quote[property] = undefined
              }
            }
            for (var property in chart) {
              if (chart.hasOwnProperty(property)) {
                chart[property] = undefined
              }
            }
            data.quote = quote;
            data.chart = chart;
            return data;
          });

          this.set({ quotes: resetQuotes, isRefreshing: true });
      },
      refreshQuotes() {
        this.setQuoteStateLoading();
        const { symbols, quoteRange } = this.get();

        function fetchQuotesCallback(component) {
          component.set({ isRefreshing: false });
        }

        fetchQuotes(symbols, quoteRange, this, fetchQuotesCallback);
      }
    },
    data() {
      return {
        symbols: [],
        quoteRange: '1d',
        isRefreshing: false,
        chartSettings: chartSettings,
        quotes: undefined
      };
    },
		components: {
      Quote: './Quote.html',
      Chart: './Chart.html'
		}
	};
</script>
